{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-4">
            <div class="about-img "><br><br><br><br>
              <img src="static/images/lg3.svg" class="img-fluid mx-4" alt="..." style="height: 200px; width: 200px;">
              <b><h1 class="mt-4">MY VILLAGE </h1></b>       
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <div class="section-title"><br><br><br><br>
                
                <h2 class="mt-3">Contact Us</h2>
                <p>By a missed call: 1800-3000-2434</p>
                <p>Talk to us at customer care (10 AM - 5 PM from Monday - Saturday):</p><b>+91 8050 79 79 79</b>
                <hr>
                <h4>Email us: info@myvillage.com </h4><br>
                <h3>Registered Address:</h3>
                <p> Office No. 3, Sai Complex, 2nd floor, Fergusson College Rd, opposite Roopali Hotel, Shivajinagar,
                    Pune,
                    Maharashtra 411004
                    pune-maharastra <br>
                    pune-411004 <br></p>
                <h3>Corporate Office:</h3>
                <p>Viman nagar Pune 411041</p>
                <hr>
                <br>
                <h3>Delivery Policy</h3>
                <br>
                <p>Delivery timelines are indicative and, on some occasions, there might be some delay due to unavoidable circumstances.
                    " If delivery or performance deadlines are not met for reasons beyond our control, such as force majeure or any other
                     unforeseen event", that affects our component suppliers, the agreed deadlines shall be extended for a reasonable period.
                      If there are multiple items, delivery might take some time. </p>
                <br>
                <br>
                <br>
                <h3>Privacy Policy/Refund Policy</h3>
                <p>For Privacy policy please Give missed Call :-1800-3000-2434</p>
                <br>
                <br>
                     
            </div>
        </div>
        
    </div>
</div>     
{% endblock 'main' %}
