{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<div class="row">
    
        {% if message %}
            <div class="alert alert-info text-center">{{message}}</div>
        {% endif %}
   
    <div class="col-md-9 mt-5 mx-auto">
        {% for x in data %}
            
            
            <div class="row">
                <div class="col-md-7">
                    <div class="card" style="width:50%;">
                        <img src="{{x.pimage.url}}" class="card-img-top" alt="...">
                    </div>

                </div>
                <div class="col-md-5">
                    
                    <div class="card-body">
                        
                        <h5 class="card-title">{{x.name}}</h5>
                        {% if x.cat == 1 %}
                            <h5 class="card-title">Crop Protection</h5>
                        {% elif x.cat == 2 %}
                            <h5 class="card-title">Crop Neutrition</h5>
                        {% else %}
                            <h5 class="card-title">Seeds</h5>

                        {% endif %}

                        <h5 class="card-title"><span style="color: red;">-20% </span> ₹{{x.price}}</h5>

                        <div class="row-7 mt-4 mx-2">
                            <a href="/cart/{{x.id}}" class="btn btn-warning">ADD TO CART</a>
                            <a href="/viewcart" class="btn btn-info">VIEW CART</a>
                            <a href="/products" class="btn btn-primary">More Products</a>
                            <p><br>
                                {{x.pdetails}}
                                <hr>
                                Country of Origin India<br>
                                Secure Payments<br>
                                In stock, Ready to Ship<br>
                                
                            </p>
                        </div>    
                    </div>
                </div>

            </div>
        {% endfor %}

    </div>
</div><!--details section end-->

{% endblock 'main' %}